$global-fontFamilies-onest: 'Onest';
$global-lineHeights-0: 120%;
$global-lineHeights-1: 120%;
$global-lineHeights-2: 120%;
$global-lineHeights-3: 120%;
$global-lineHeights-4: 120%;
$global-lineHeights-5: 120%;
$global-lineHeights-6: 120%;
$global-lineHeights-7: 120%;
$global-lineHeights-8: 140%;
$global-lineHeights-9: 140%;
$global-lineHeights-10: 120%;
$global-lineHeights-11: 160%;
$global-lineHeights-12: 120%;
$global-fontWeights-onest-0: Bold;
$global-fontWeights-onest-1: Regular;
$global-fontWeights-onest-2: SemiBold;
$global-fontWeights-onest-3: Light;
$global-fontSize-0: 60px;
$global-fontSize-1: 48px;
$global-fontSize-2: 40px;
$global-fontSize-3: 40px;
$global-fontSize-4: 32px;
$global-fontSize-5: 32px;
$global-fontSize-6: 25px;
$global-fontSize-7: 25px;
$global-fontSize-8: 20px;
$global-fontSize-9: 20px;
$global-fontSize-10: 16px;
$global-fontSize-11: 16px;
$global-fontSize-12: 13px;
$global-letterSpacing-0: -2%;
$global-letterSpacing-1: -2%;
$global-letterSpacing-2: -2%;
$global-letterSpacing-3: -2%;
$global-letterSpacing-4: -2%;
$global-letterSpacing-5: -2%;
$global-letterSpacing-6: 0%;
$global-letterSpacing-7: 0%;
$global-letterSpacing-8: 0%;
$global-letterSpacing-9: 0%;
$global-letterSpacing-10: 0%;
$global-letterSpacing-11: 0%;
$global-letterSpacing-12: 2%;
$global-paragraphSpacing-0: 0;
$global-paragraphSpacing-1: 0;
$global-paragraphSpacing-2: 0;
$global-paragraphSpacing-3: 0;
$global-paragraphSpacing-4: 0;
$global-paragraphSpacing-5: 0;
$global-paragraphSpacing-6: 0;
$global-paragraphSpacing-7: 0;
$global-paragraphSpacing-8: 0;
$global-paragraphSpacing-9: 0;
$global-paragraphSpacing-10: 0;
$global-paragraphSpacing-11: 16;
$global-paragraphSpacing-12: 13;
$colors-transparent: #00000000;
$colors-black: #000000;
$colors-white: #ffffff;
$colors-slate-50: #f8fafc;
$colors-slate-100: #f1f5f9;
$colors-slate-200: #e2e8f0;
$colors-slate-300: #cad5e2;
$colors-slate-400: #90a1b9;
$colors-slate-500: #62748e;
$colors-slate-600: #45556c;
$colors-slate-700: #314158;
$colors-slate-800: #1d293d;
$colors-slate-900: #0f172b;
$colors-slate-950: #020618;
$colors-gray-50: #f9fafb;
$colors-gray-100: #f3f4f6;
$colors-gray-200: #e5e7eb;
$colors-gray-300: #d1d5dc;
$colors-gray-400: #99a1af;
$colors-gray-500: #6a7282;
$colors-gray-600: #4a5565;
$colors-gray-700: #364153;
$colors-gray-800: #1e2939;
$colors-gray-900: #101828;
$colors-gray-950: #030712;
$colors-neutral-50: #fafafa;
$colors-neutral-100: #f5f5f5;
$colors-neutral-200: #e5e5e5;
$colors-neutral-300: #d4d4d4;
$colors-neutral-400: #a1a1a1;
$colors-neutral-500: #737373;
$colors-neutral-600: #525252;
$colors-neutral-700: #404040;
$colors-neutral-800: #262626;
$colors-neutral-900: #171717;
$colors-neutral-950: #0a0a0a;
$colors-orange-50: #fff7ed;
$colors-orange-100: #ffedd4;
$colors-orange-200: #ffd6a8;
$colors-orange-300: #ffb86a;
$colors-orange-400: #ff8904;
$colors-orange-500: #ff6900;
$colors-orange-600: #f54900;
$colors-orange-700: #ca3500;
$colors-orange-800: #9f2d00;
$colors-orange-900: #7e2a0c;
$colors-orange-950: #441306;
