@use "../../styles/_mixins.scss" as mixins;
@use "../../styles/_tokens.scss" as tokens;

.info-text {
  @include mixins.left-padding;
  max-width: 1280px; // Usa max-width para responsividade
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 32px 104px 32px;
  margin: 0 auto; // centraliza horizontalmente
}

.selected-works {
  @include mixins.heading-5-light;
  color: tokens.$gray-500; // usa variável correta
}

.works-text {
  @include mixins.heading-4-regular;
  color: tokens.$gray-600;
}

.header {
  padding: 0 32px 32px 0;
  display: flex;
  flex-direction: column;
}

.header-title {
  @include mixins.header-title;
  padding-bottom: 16px;
}

.section-line {
  @include mixins.section-line-base;
  background-color: tokens.$gray-500;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; // respeita largura do container pai
}

/* media queries */

@media (max-width: 768px) {
 .info-text {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 260px 32px 0 24px;
    margin: 0 auto;
  }
 .section-line {
    display: none;
  }
  .header {
    align-items: center;
    padding: 0 0 32px 0;
  }
    .portfolio {
    flex-direction: column;
    gap: 64px;
    width: 100%; // evitar overflow
    justify-content: flex-start;
    align-items: center;
  }
   .works-text {
    
    width: 600px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .info-text {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 260px 32px 0 24px;
    margin: 0 auto;
  }

  .section-line {
    display: none;
  }

  .selected-works {
    @include mixins.heading-5-light;
    color: tokens.$gray-500;
  }

  .header {
    align-items: center;
    padding: 0 0 32px 0;
  }

  .works-text {
    @include mixins.body;
    color: tokens.$gray-600;
    width: 300px;
    text-align: center;
  }

  .portfolio {
    flex-direction: column;
    gap: 64px;
    width: 100%; // evitar overflow
    justify-content: flex-start;
    align-items: center;
  }
}
