@use "../../styles/_mixins.scss" as mixins;
@use "../../styles/_tokens.scss" as tokens;

.info-text {
  @include mixins.left-padding;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 144px 32px 104px 32px;
  margin: 0 auto;
}

.selected-works {
  @include mixins.heading-5-light;
  color: tokens.$gray-500;
}

.works-text {
  @include mixins.heading-4-regular;
  color: tokens.$gray-600;
}

.header {
  /*  padding: 0 32px 0 0; */
  display: flex;
  flex-direction: column;
}

.header-title {
  @include mixins.header-title;
  padding-bottom: 16px;
}

.section-line {
  @include mixins.section-line-base;
  background-color: tokens.$gray-500;
}

/* .portfolio-wrapper1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
  margin: 0 auto;
  padding: 48px 0 10px 0;
  width: 100%;
  max-width: 1280px;
  background: white;
  border-radius: 8px;
  transition: opacity 0.5s ease;
  justify-items: end;
} */
.portfolio-wrapper1 + .portfolio-wrapper1 {
  /*N esquecer de garantir que o segundo card fica por cima */
  z-index: 1;
}
.portfolio {
  /*  margin-top: 60px; */
  /* Importante para o lock */
  overflow: visible;
}

.sticky-card-wrapper {
  width: 100%;
}

.sticky-second-card {
  border-radius: 8px;
}

//media queries
@media (max-width: 768px) {
  .info-text {
    @include mixins.left-padding;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 370px 32px 0 32px;
    margin: 0 auto;
  }
  .header-title {
    justify-content: center;
  }
  .works-text {
    text-align: center;
  }
  .section-line {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .info-text {
    padding: 300px 32px 0 32px;
  }
  .works-text {
    @include mixins.heading-6;
    color: tokens.$gray-600;
    font-weight: 200;
  }
}
