@use "../../styles/_mixins.scss" as mixins;
@use "../../styles/_tokens.scss" as tokens;

.info-text {
  @include mixins.left-padding;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 32px 104px 32px; /* espaço superior e inferior consistente */
  margin: 0 auto; /* centraliza horizontalmente */
}

.selected-works {
  @include mixins.heading-5-light;
  color: mixins.$gray-500;
}

.works-text {
  @include mixins.heading-4-regular;
  color: tokens.$gray-600;
}

.header {
  padding: 0 32px 32px 0px;
  display: flex;
  flex-direction: column;
}

.header-title {
  @include mixins.header-title;
  padding-bottom: 16px;
}

.section-line {
  @include mixins.section-line-base;
  background-color: tokens.$gray-500;
}

.portfolio {
  display: flex;
  flex-wrap: wrap; /* permite quebra em ecrãs menores */
  gap: 90px;
  justify-content: flex-start;
  align-items: flex-start;
}
/* media queries */

@media (min-width: 320px) and (max-width: 480px) {
  .info-text {
    padding-left: 32px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 260px 32px 0px 32px;
    margin: 0 auto;
  }
  .section-line {
    display: none;
  }
  .selected-works {
    @include mixins.heading-5-light;
    color: tokens.$gray-500;
    

  }
  .header {
    align-items: center;
    padding: 0 0 32px 0px;
  }
  .works-text {
    @include mixins.body;
    color: tokens.$gray-600;
    width: 300px;
    align-items: center;
    text-align: center;
  }
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
