// _mixins.scss
@import "tokens";

// Headings
@mixin display {
  font-family: $font-onest;
  font-weight: $font-weight-onest-0;
  font-size: $font-size-0; // 60px
  line-height: $line-height-0; // 120%
  letter-spacing: $letter-spacing-0; // -2%
}

@mixin heading-1 {
  font-family: $font-onest;
  font-weight: $font-weight-onest-0;
  font-size: $font-size-1;
  line-height: $line-height-0;
  letter-spacing: $letter-spacing-0;
}

@mixin heading-2-bold {
  font-family: $font-onest;
  font-weight: $font-weight-onest-0;
  font-size: $font-size-2;
  line-height: $line-height-0;
  letter-spacing: $letter-spacing-0;
}

@mixin heading-2-regular {
  font-family: $font-onest;
  font-weight: $font-weight-onest-1;
  font-size: $font-size-2;
  line-height: $line-height-0;
  letter-spacing: $letter-spacing-0;
}

@mixin heading-3 {
  font-family: $font-onest;
  font-weight: $font-weight-onest-0;
  font-size: $font-size-4;
  line-height: $line-height-0;
  letter-spacing: $letter-spacing-0;
}

@mixin heading-3-regular {
  font-family: $font-onest;
  font-weight: $font-weight-onest-1;
  font-size: $font-size-4;
  line-height: $line-height-0;
  letter-spacing: $letter-spacing-0;
}

@mixin heading-4 {
  font-family: $font-onest;
  font-weight: $font-weight-onest-2;
  font-size: $font-size-6;
  line-height: $line-height-0;
  letter-spacing: $letter-spacing-6;
}

@mixin heading-4-regular {
  font-family: $font-onest;
  font-weight: $font-weight-onest-1;
  font-size: $font-size-6;
  line-height: $line-height-0;
  letter-spacing: $letter-spacing-6;
}

@mixin heading-5 {
  font-family: $font-onest;
  font-weight: $font-weight-onest-2;
  font-size: $font-size-8;
  line-height: $line-height-8;
  letter-spacing: $letter-spacing-6;
}

@mixin heading-5-light {
  font-family: $font-onest;
  font-weight: $font-weight-onest-1;
  font-size: $font-size-8;
  line-height: $line-height-8;
  letter-spacing: $letter-spacing-6;
}

@mixin heading-6 {
  font-family: $font-onest;
  font-weight: $font-weight-onest-2;
  font-size: $font-size-10;
  line-height: $line-height-0;
  letter-spacing: $letter-spacing-6;
}


// Body
@mixin body {
  font-family: $font-onest;
  font-weight: $font-weight-onest-1;
  font-size: $font-size-10;
  line-height: $line-height-11;
  letter-spacing: $letter-spacing-6;
}

// Small
@mixin small {
  font-family: $font-onest;
  font-weight: $font-weight-onest-3;
  font-size: $font-size-12;
  line-height: $line-height-0;
  letter-spacing: $letter-spacing-12;
}
@mixin small-card {
  font-family: $font-onest;
  font-weight: $font-weight-onest-3;
  font-size: $font-size-12;
  line-height: $line-height-9;
  letter-spacing: $letter-spacing-12;
}
@mixin heading-text {
  font-family: $font-onest;
  font-weight: $font-weight-onest-1;
  font-size: $font-size-11;
  line-height: $line-height-8;
  letter-spacing: $letter-spacing-6;
}

/* _mixin botao base */
@mixin button-base {
  /* font-family: $font-onest; */
  font-size: $font-size-10;
  font-weight: $font-weight-onest-2;
  line-height: $line-height-10;
  letter-spacing: $letter-spacing-12;
  padding: 30px 30px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $white;
  color: $neutral-600;
}
@mixin button-base-mobile {
  /* font-family: $font-onest; */
  font-size: $font-size-12;
  font-weight: $font-weight-onest-2;
  line-height: $line-height-10;
  letter-spacing: $letter-spacing-12;
  padding: 30px 30px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $white;
  color: $neutral-600;
}
@mixin left-padding {
  padding-left: 32px;
}
@mixin header-title($direction: row, $gap: 16px) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}
@mixin section-line-base {
  width: 55px;
  height: 1px;
  border: none;
  margin-top: 12px;
}
@mixin button-base-footer {
  /* font-family: $font-onest; */
  font-size: $font-size-10;
  font-weight: $font-weight-onest-2;
  line-height: $line-height-10;
  letter-spacing: $letter-spacing-12;
  padding: 30px 30px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $gray-600;
  color: $white;
}
@mixin button-base-footer-mobile {
  /* font-family: $font-onest; */
  font-size: $font-size-12;
  font-weight: $font-weight-onest-2;
  line-height: $line-height-10;
  letter-spacing: $letter-spacing-12;
  padding: 30px 30px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $gray-600;
  color: $white;
}