// ===== Tipografia =====
$font-onest: 'Onest';
$font-weight-onest-0: Bold;
$font-weight-onest-1: 400; // Regular
$font-weight-onest-2: 600; // SemiBold
$font-weight-onest-3: Light;

$font-size-0: 60px;
$font-size-1: 48px;
$font-size-2: 40px;
$font-size-3: 40px;
$font-size-4: 32px;
$font-size-5: 32px;
$font-size-6: 25px;
$font-size-7: 25px;
$font-size-8: 20px;
$font-size-9: 20px;
$font-size-10: 16px;
$font-size-11: 16px;
$font-size-12: 13px;

$line-height-0: 120%;
$line-height-1: 120%;
$line-height-2: 120%;
$line-height-3: 120%;
$line-height-4: 120%;
$line-height-5: 120%;
$line-height-6: 120%;
$line-height-7: 120%;
$line-height-8: 140%;
$line-height-9: 140%;
$line-height-10: 120%;
$line-height-11: 160%;
$line-height-12: 120%;

$letter-spacing-0: -2%;
$letter-spacing-1: -2%;
$letter-spacing-2: -2%;
$letter-spacing-3: -2%;
$letter-spacing-4: -2%;
$letter-spacing-5: -2%;
$letter-spacing-6: 0%;
$letter-spacing-7: 0%;
$letter-spacing-8: 0%;
$letter-spacing-9: 0%;
$letter-spacing-10: 0%;
$letter-spacing-11: 0%;
$letter-spacing-12: 2%;

// ===== Cores =====
$transparent: #00000000;
$black: #000000;
$white: #ffffff;

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cad5e2;
$slate-400: #90a1b9;
$slate-500: #62748e;
$slate-600: #45556c;
$slate-700: #314158;
$slate-800: #1d293d;
$slate-900: #0f172b;
$slate-950: #020618;

$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5dc;
$gray-400: #99a1af;
$gray-500: #6a7282;
$gray-600: #4a5565;
$gray-700: #364153;
$gray-800: #1e2939;
$gray-900: #101828;
$gray-950: #030712;

$neutral-50: #fafafa;
$neutral-100: #f5f5f5;
$neutral-200: #e5e5e5;
$neutral-300: #d4d4d4;
$neutral-400: #a1a1a1;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;
$neutral-900: #171717;
$neutral-950: #0a0a0a;

$orange-50: #fff7ed;
$orange-100: #ffedd4;
$orange-200: #ffd6a8;
$orange-300: #ffb86a;
$orange-400: #ff8904;
$orange-500: #ff6900;
$orange-600: #f54900;
$orange-700: #ca3500;
$orange-800: #9f2d00;
$orange-900: #7e2a0c;
$orange-950: #441306;
