@use "../../styles/_mixins.scss" as mixins;
@use "../../styles/_tokens.scss" as tokens;

.card-title {
  text-decoration: none;
  border-bottom: none;
  box-shadow: none;
  outline: none;
  cursor: none;
  @include mixins.heading-4;
  color: tokens.$gray-600;
  padding-top: 16px;
}
.card-link {
  text-decoration: none;
  border-bottom: none;
  box-shadow: none;
  outline: none;
}
.work-content {
  position: relative;
  width: 560px;
  height: 443px;
  border-radius: 3px;
  overflow: visible;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  cursor: none;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Imagem normal */
.work-image {
  object-fit: cover;
  border-radius: 3px;
  transition: filter 0.4s ease;
}

/* Texto da descrição: começa escondido */
.work-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);

  padding: 20px;
  background-color: tokens.$orange-500;

  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  width: 110%;
  border-radius: 3px;
  z-index: 9999;
}

/* Tooltip (já configurada) */
.follow {
  position: absolute;
  pointer-events: none;
  padding: 8px 14px;
  font-size: 14px;
  min-width: 30px;
  min-height: 10px;
  white-space: nowrap;

  @include mixins.small;

  color: tokens.$orange-500;
  font-weight: bolder;
  border-radius: 100px;

  transform: translate(-50%, -120%);
  z-index: 100;
  opacity: 0;
  transition: opacity 0.25s ease;
}

/* Hover effects: */
/* .work-content:hover {
  transform: scale(1.1);
} */

.work-content:hover .work-image {
  filter: blur(3px);
}

.work-content:hover .work-description {
  opacity: 1;
  pointer-events: auto;
}

.work-content:hover .follow {
  opacity: 1;
}
.work-content:hover .work-image {
  filter: grayscale(100%);
}
