.teste {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page-wrapper {
  min-height: 400px; // fallback
  height: 100%; // mobile fix
  display: flex;
  flex-direction: column;
  
}
/* @media (max-width: 1024px) {

} */
@media (max-width: 768px) {
  .page-wrapper {
  align-items: center;
}
}
 @media (min-width: 320px) and (max-width: 480px) {
   .page-wrapper {
  align-items: center;
}
}