@charset "UTF-8";
/* _mixin botao base */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4a5565;
  padding-top: 64px;
  padding-bottom: 32px;
}

/* ====== Footer Navigation ====== */
.footer-nav {
  padding-left: 32px;
  width: 1280px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 32px;
  gap: 48px;
}

/* Botão animado do footer */
.btn-footer {
  /* font-family: $font-onest; */
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 2%;
  padding: 30px 30px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #4a5565;
  color: #ffffff;
  display: block;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}
.btn-footer .original {
  background: transparent;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transform: translateY(0);
  transition: none;
}
.btn-footer:hover .original {
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}
.btn-footer .letters {
  display: inline-flex;
  transition: none;
}
.btn-footer span {
  opacity: 0;
  transform: translateY(-15px);
  transition: none;
}
.btn-footer span:nth-child(2n) {
  transform: translateY(15px);
}
.btn-footer:hover span {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.3s;
}
.btn-footer:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

/* ====== Footer Copy Section ====== */
.copy-wrapper {
  width: 1280px;
  padding: 0 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-copy {
  /*   @include mixins.small; */
  color: #ffffff;
  opacity: 0.8;
  font-size: 12px;
  text-align: right;
  padding-right: 32px;
}

/* media queries */
@media (max-width: 1024px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #4a5565;
    padding-top: 0px;
    padding-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer-nav {
    padding-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    gap: 0;
    width: 100%;
  }
  .copy-wrapper {
    justify-content: center;
    width: 100%;
    padding: 0 32px;
  }
  .footer-copy {
    color: #ffffff;
    text-align: center;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer-nav {
    padding-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    gap: 0;
    width: 100%;
  }
  .btn-footer {
    /* font-family: $font-onest; */
    font-size: 13px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 2%;
    padding: 30px 30px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #4a5565;
    color: #ffffff;
  }
  .copy-wrapper {
    justify-content: center;
    width: 100%;
    padding: 0 32px;
  }
  .footer-copy {
    font-family: "Onest";
    font-weight: Light;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 2%;
    color: #ffffff;
    text-align: center;
    padding-right: 0;
  }
}/*# sourceMappingURL=Footer.css.map */