@use "../../styles/_mixins.scss" as mixins;
@use "../../styles/_tokens.scss" as tokens;

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 24px 0;
  position: relative;
  z-index: 100;
  
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1280px;
  max-width: 90%;
  height: auto;
  gap: 32px;
  margin: 0 auto;  
  
}

.links {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.btn {
  @include mixins.button-base;

  display: block;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: tokens.$gray-800;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: tokens.$orange-500;
  }

  .original {
    background: transparent;
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
    transform: translateY(0);
  }

  &:hover .original {
    transform: translateY(100%);
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  }

  .letters {
    display: inline-flex;
  }

  span {
    opacity: 0;
    transform: translateY(-15px);
  }

  span:nth-child(2n) {
    transform: translateY(15px);
  }

  &:hover span {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
  }

  &:hover span:nth-child(2) {
    transition-delay: 0.1s;
  }
}

.nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: tokens.$gray-100;
  opacity: 0.6;
}
/* media queries */

@media (max-width: 1024px) {
  .container {
    justify-content: space-between;
    max-width: 95%;
    padding-left: 32px;
  }

  .links {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
  }

  .links {
    flex-direction: row;
    gap: 16px;
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    max-width: 100%;
  }
  .btn {
    @include mixins.button-base-mobile;
    padding: 8px 8px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #525252;
    display: block;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #1e2939;
    cursor: pointer;
    transition: color 0.2s ease;
  }

 
}
