@use "../../styles/_mixins.scss" as mixins;
@use "../../styles/_tokens.scss" as tokens;

.wrapper-about {
  @include mixins.left-padding;
   width: 100%;
  max-width: 1280px;
  padding: 92px 32px 32px 32px;
  margin: 0 auto;
}
.line-group {
  @include mixins.header-title;
  padding-bottom: 16px;
}
.section-line-about {
  @include mixins.section-line-base;
  background-color: tokens.$gray-500;
}
.about-me {
  @include mixins.heading-5-light;
  color: tokens.$gray-500;
}
.flex-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   width: 100%;
  max-width: 1200px;
  height: 330px;
  gap: 16px;
}

.me {
  @include mixins.heading-2-bold;
  color: tokens.$gray-600;
  padding-bottom: 32px;
}
.text-me {
  @include mixins.heading-4-regular;
  color: tokens.$gray-600;
  max-width: 409px;
  padding-bottom: 32px;
}
.contact-me {
  @include mixins.heading-5;
  color: tokens.$gray-600;
  padding-bottom: 32px;
}
.flex-education {
  display: flex;
  flex-direction: column;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Onest", sans-serif;
  color: tokens.$gray-600;
  text-decoration: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  fill: currentColor; // Aqui a seta herda a cor do texto
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

@media (min-width: 320px) and (max-width: 480px) {
  .line-group {
    align-items: center;
  }
  .flex-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    align-items: center;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
 
  }
  .wrapper-about {
  @include mixins.left-padding;
  width: 100%;
  max-width: 100%;
  padding: 56px 32px 32px 32px;
}
.line-group {

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.me {
  @include mixins.heading-4;
  color: tokens.$gray-600;
  padding-bottom: 32px;
}
.section-line-about {
 display: none;
}
.text-me {
  @include mixins.body;
  color: tokens.$gray-600;

  padding-bottom: 32px;
  text-align:center;
}
.cta svg {
display: none;
}
.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 0px;
  font-weight: bold;
}
}
